:root, body {
    margin: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    font-family: Helvetica, sans-serif;
}

button {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    cursor: pointer;
    background: none;
    font-size: 10rem;
    font-weight: 200;
    -webkit-appearance: none;
}
